<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
  </ion-navbar>
</ion-header>

<!-- Center content -->
<!-- <ion-side-menu-content>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Todo</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks">
        {{task.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu-content> -->
<ion-content>
  <!-- our list and list items -->
  <ion-list>
    <button ion-item *ngFor="let task of tasks | async" (click)="taskSelected(task)">
      {{ task?.title }}
    </button>
  </ion-list>
</ion-content>